<!DOCTYPE html>
<html>
  <head>
    <title>Главная</title>
  </head>
  <body>
    {% if user.is_authenticated %}
      Привет, {{ user.username }}!
      <br>
      <a href="/logout">Выход</a>
    {% else %}
      <a href="/login">Вход</a>
      <br>
      <a href="/register">Регистрация</a>
    {% endif %}
  </body>
</html>
